<% provide(:title, "Contact") %>

<h3>Contact</h3>
<p> I'm in the middle of practicing spec test</p>
<p>復習中...</p>

<%= link_to 'homeへ', 'home' %>
<%= link_to 'helpへ', 'help' %>
<%= link_to 'about usへ', 'about' %>