<% provide(:title, "About") %>
<h3>Rails_tu statics/about</h3>
<p>公式root: <%= link_to 'rails_tu', 'https://railstutorial.jp/', data: { remote: false }%></p>
<p>公式help: <%= link_to 'Rails_tu_help', 'https://railstutorial.jp/help', data: { remote: false, confirm: '外部ページへ移動しますか?' } %></p>
<p>公式ebook: <%= link_to 'Rails_tu_ebook', 'https://railstutorial.jp/#ebook', data: { remote: false, confirm: '外部ページへ移動しますか?' } %></p>
