<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h3>Rails_tu statics/home</h3>
  <p>
    <%= link_to 'rails_tu', 'https://railstutorial.jp/', data: { remote: false }%>
    sample application.
  </p>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("ruby.png", width: 60), 'http://rubyonrails.org/'%>